<launch>
  <group ns="smedl/{{sys.name}}">
    {% for syncset in sys.syncsets.keys() %}
    {%+ if syncset.name == 'pedl' %}<!--{% endif %}
    <node pkg="smedl_{{sys.name}}" type="{{syncset}}_node" name="{{syncset}}_node" />
    {%+ if syncset.name == 'pedl' %}-->{% endif %}
    {% endfor %}
  </group>
</launch>
