# Ignored directories
bin/
build/
lib/
man/
.settings/
.env/

# Ignored files
*~
*.DS_Store
*.pyc
*.o
.project
.pydevproject
src/.coverage
src/testcases/pqueue/c/pq
pip-selfcheck.json
pyvenv.cfg
*.log
*.egg-info/
